.keyboard {
	flex: 1 0 auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 700px;
	.keyboard__row {
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 8px;
		.keyboard__key {
			float: left;
			width: 40px;
			height: 40px;
			margin-left: 6px;
			font-weight: 500;
			line-height: 40px;
			text-align: center;
			color: #ffffff;
			background: #444444;
			border-radius: 3px;
			cursor: pointer;
			user-select: none;
			transition: border-radius 0.3s, background-color 0.3s;
			.caseDown, .caseUp, .caps, .shiftCaps {
				min-height: 40px;
			}
		}
	}
}