@import './keyboard.scss';
@import './header.scss';
@import './textarea.scss';
@import './footer.scss';
@import './main.scss';

.hidden {
  display: none;
}

.body__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vw;
}