/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss ***!
  \***********************************************************************************************************************************************************/
.keyboard {
  flex: 1 0 auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: #444444;
  border: 3px solid #2cfd72;
}
.keyboard .keyboard__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 8px;
}
.keyboard .keyboard__row .keyboard__key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #000;
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: border-radius 0.3s, background-color 0.3s;
}
.keyboard .keyboard__row .keyboard__key .caseDown, .keyboard .keyboard__row .keyboard__key .caseUp, .keyboard .keyboard__row .keyboard__key .caps, .keyboard .keyboard__row .keyboard__key .shiftCaps {
  min-height: 40px;
}
.keyboard .keyboard__row .keyboard__key.active {
  background-color: #2cfd72;
  border-radius: 50px;
}
.keyboard .keyboard__row .keyboard__key.Backspace, .keyboard .keyboard__row .keyboard__key.CapsLock, .keyboard .keyboard__row .keyboard__key.ShiftLeft, .keyboard .keyboard__row .keyboard__key.ShiftRight {
  width: 100px;
}
.keyboard .keyboard__row .keyboard__key.Tab {
  width: 80px;
}
.keyboard .keyboard__row .keyboard__key.Space {
  width: 290px;
}
.keyboard .keyboard__row .keyboard__key:hover {
  background: gray;
}

header {
  flex: 1 0 auto;
  text-align: center;
  max-height: 60px;
}

.textarea {
  flex: 1 0 auto;
  display: block;
  margin: 10px auto;
  width: 700px;
  height: 200px;
}

footer {
  flex: 0 0 auto;
  display: none;
  justify-content: center;
  max-height: 60px;
}

.body__main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main__description, .main__switch-lang {
  margin: 10px auto;
  text-align: center;
}

.hidden {
  display: none;
}

.body__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
